* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

nav .options {
  background-color: #ebeae5;
}

nav .twd-lang {
  background-color: #ebeae5;
}

main .main-container {
  min-height: 969px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .main-container .shoes-sketch {
  position: relative;
  overflow: visible;
}

main .main-container .shoes-sketch img {
  position: absolute;
  top: 340px;
  left: -320px;
  width: 700px;
  z-index: 1;
}

main .main-container .main-container {
  max-width: calc(100% - 146px);
  width: 100%;
  background: #ebeae5;
  padding-top: 150px;
  padding-left: 2.6vw;
  position: relative;
  overflow: hidden;
}

main .main-container .main-container .shoes-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-container .main-container .shoes-article .article-container .article-title p {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #7b8ca2;
}

main .main-container .main-container .shoes-article .article-container .article-content {
  max-width: 737px;
}

main .main-container .main-container .shoes-article .article-container .article-content p {
  font-size: 14px;
  letter-spacing: 1.6px;
  line-height: 26px;
  color: #444444;
}

main .main-container .main-container .shoes-article .decoration-line {
  position: relative;
}

main .main-container .main-container .shoes-article .decoration-line img {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 1000px;
}

main .main-container .main-container .shoes-img-display {
  margin-top: 40px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content {
  height: 384px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content {
  max-width: 375px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container {
  width: 600px;
  margin-right: 0px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-title {
  margin-bottom: 20px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-title p {
  display: inline-block;
  color: #e08549;
  font-size: 18px;
  border-bottom: 1px solid #e08549;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-title h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-list {
  margin-bottom: 20px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-list p {
  color: #7b8ca2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.6px;
  line-height: 30px;
  margin: 0;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-text {
  z-index: 5;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-text button {
  width: 120px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #8090a0;
  font-size: 18px;
  color: #444444;
  background-color: unset;
  margin-top: 119px;
  line-height: 26px;
  letter-spacing: 0.8px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-content .swiper-container .swiper-wrapper .swiper-slide .development-process-text button:hover {
  color: #ffffff;
  background-color: #e08549;
  border: none;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-swiper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  padding-left: 20px;
  position: relative;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-swiper .swiper-container {
  width: 865px;
  height: 384px;
  margin-bottom: 50px;
  margin-right: 0px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 664px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .inner-content .development-process-swiper:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -179px;
  width: 300px;
  height: 384px;
  background-color: #f0efeb;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
  z-index: 1;
  opacity: 0.5;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step .swiper-step-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step .swiper-step-button .pagination-next {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 76%;
          flex: 0 0 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step .swiper-step-button .pagination-next .swiper-pagination-bullet {
  position: relative;
  z-index: 2;
  background: #444444;
  border-radius: 0px;
  opacity: 1;
  width: 15px;
  height: 15px;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step .swiper-step-button .pagination-next .swiper-pagination-bullet p {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step .swiper-step-button .pagination-next .swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #e08549;
  background: #e08549;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step .swiper-step-button .pagination-next::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  background: #444444;
}

main .main-container .main-container .shoes-img-display .shoes-article-swiper .swiper-step .swiper-step-button .button-next {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}
/*# sourceMappingURL=index-shoes.css.map */