* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
}

.password-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(183, 183, 183, 0.7);
  z-index: 3;
}

.password-background .password-window {
  width: 789px;
  height: 377px;
  background-color: #ffffff;
  border: 1px solid #f7a269;
  position: absolute;
  top: 15%;
  left: calc(50% - 394.5px);
  z-index: 3;
  overflow: hidden;
}

.password-background .password-window .input-data {
  margin: 0px;
  padding: 0;
}

.password-background .password-window .input-data .input-block {
  height: 300px;
  border-right: 1px solid #65737f;
}

.password-background .password-window .input-data .input-block .modify-title {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 3.2px;
}

.password-background .password-window .input-data .input-block .input {
  width: 90%;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #65737f;
  outline: none;
}

.password-background .password-window .input-data .input-block .modify-btn {
  width: 180px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #65737f;
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.6px;
}

.password-background .password-window .input-data .delete-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #65737f;
  color: #ffffff;
}

.password-background .password-window .input-data .safe-validate1 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 3.2px;
}

.password-background .password-window .input-data .safe-validate2 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.2px;
}

.password-background .password-window .input-data .lock-img {
  width: 196px;
  height: 235px;
  opacity: 0.7;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

.member-center {
  width: 100%;
  height: 1011px;
  background-color: #ebeae5;
}

.member-center .m-center-index {
  font-size: 72px;
  color: #ffffff;
}

.member-center .list-Group .list-group-item {
  width: 170px;
  height: 60px;
  background-color: #7a7573;
  color: #ebeae5;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.2px;
  border: 1px solid #444444;
  z-index: 2;
}

.member-center .list-Group .list-group-item:hover {
  background-color: #7a7573;
  color: #ebeae5;
}

.member-center .list-Group .list-group-item.active {
  width: 205px;
  background-color: #ffffff;
  color: #8090a0;
  font-weight: bold;
  border-color: #86b2c4;
  border-right: 18px solid #86b2c4;
  margin-left: -18px;
  z-index: 2;
}

.member-center .list-Group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.member-center .list-Group .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.member-center .tab-contents {
  margin-left: -17px;
}

.member-center .tab-contents .member-data {
  width: 1140px;
  height: 853px;
  background-color: #ffffff;
  border: 1px solid #f7a269;
  position: relative;
}

.member-center .tab-contents .member-data .nowNews {
  font-size: 14px;
}

.member-center .tab-contents .member-data .input-container {
  width: 90%;
  padding-bottom: 10vh;
  border-bottom: 1px solid #444444;
}

.member-center .tab-contents .member-data .input-container .input-message {
  width: 100%;
  height: 300px;
  font-size: 14px;
  outline: none;
}

.member-center .tab-contents .member-data .input-container input::-webkit-input-placeholder {
  position: absolute;
  left: 2vw;
}

.member-center .tab-contents .member-data .button-container {
  width: 90%;
  font-size: 14px;
}

.member-center .tab-contents .member-data .button-container .add-img-btn {
  width: 100px;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  letter-spacing: 0.8px;
}

.member-center .tab-contents .member-data .button-container .transform-btn {
  width: 60px;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  letter-spacing: 1.6px;
}

@media (max-width: 1024px) {
  .list-Group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=passwordModify.css.map */