* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
}

.password-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(183, 183, 183, 0.7);
  z-index: 100;
}

.password-background .password-window {
  max-width: 789px;
  width: 100%;
  height: 377px;
  background-color: #ffffff;
  border: 1px solid #f7a269;
  position: absolute;
  top: 15%;
  left: calc(50% - 394.5px);
  z-index: 3;
  overflow: hidden;
}

@media (max-width: 768px) {
  .password-background .password-window {
    width: 90%;
    max-height: 641px;
    height: 100%;
    position: absolute;
    top: -24px;
    left: 5vw;
  }
}

.password-background .password-window .data-block1 .delete-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #65737f;
  color: #ffffff;
}

.password-background .password-window .data-block2 {
  width: 100%;
}

@media (max-width: 768px) {
  .password-background .password-window .data-block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.password-background .password-window .data-block2 .block2-left {
  width: 50%;
  height: 300px;
  border-right: 1px solid #65737f;
}

@media (max-width: 768px) {
  .password-background .password-window .data-block2 .block2-left {
    width: 100%;
  }
}

.password-background .password-window .data-block2 .block2-left .modify-title {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 3.2px;
}

.password-background .password-window .data-block2 .block2-left .modify-content .input {
  max-width: 300px;
  width: 100%;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #65737f;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 450px) {
  .password-background .password-window .data-block2 .block2-left .modify-content .input {
    max-width: 250px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .password-background .password-window .data-block2 .block2-left .modify-content .input::-webkit-input-placeholder {
    text-align: center;
  }
}

.password-background .password-window .data-block2 .block2-left .modify-content .wrong-password {
  max-width: 300px;
  width: 100%;
  font-size: 15px;
  margin: auto;
}

.password-background .password-window .data-block2 .block2-left .sure-modify {
  margin-top: 48px;
}

.password-background .password-window .data-block2 .block2-left .sure-modify .modify-btn {
  max-width: 180px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #65737f;
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.6px;
}

.password-background .password-window .data-block2 .block2-right {
  width: 50%;
}

@media (max-width: 768px) {
  .password-background .password-window .data-block2 .block2-right {
    width: 100%;
  }
}

.password-background .password-window .data-block2 .block2-right .safe-validate1 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 3.2px;
}

.password-background .password-window .data-block2 .block2-right .safe-validate2 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.2px;
}

.password-background .password-window .data-block2 .block2-right .safe-validate3 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.2px;
}

.password-background .password-window .data-block2 .block2-right .lock {
  position: relative;
}

.password-background .password-window .data-block2 .block2-right .lock .lock-img {
  width: 196px;
  height: 235px;
  opacity: 0.7;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
  position: absolute;
  right: -55px;
}

.member-center {
  width: 100%;
  height: 1011px;
  background-color: #ebeae5;
}

.member-center .m-center-index {
  font-size: 72px;
  position: relative;
  -webkit-transform: translateY(33px);
          transform: translateY(33px);
  margin-bottom: 10px;
  color: #ffffff;
}

@media (max-width: 520px) {
  .member-center .m-center-index {
    visibility: hidden;
  }
}

@media (max-width: 991px) {
  .member-center .list-Group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.member-center .list-Group .list-group {
  margin-bottom: -2px;
}

@media (max-width: 991px) {
  .member-center .list-Group .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.member-center .list-Group .list-group .list-group-item {
  width: 170px;
  height: 60px;
  background-color: #7a7573;
  font-size: 18px;
  color: #ebeae5;
  letter-spacing: 3.2px;
  border-bottom: 1px solid black;
  outline: none;
  z-index: 2;
}

@media (max-width: 991px) {
  .member-center .list-Group .list-group .list-group-item {
    max-width: 205px;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 16px;
    white-space: nowrap;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid black;
    border-bottom: none;
  }
}

@media (max-width: 768px) {
  .member-center .list-Group .list-group .list-group-item {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .member-center .list-Group .list-group .list-group-item {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .member-center .list-Group .list-group .list-group-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.member-center .list-Group .list-group .list-group-item.active {
  width: 205px;
  background-color: #ffffff;
  color: #8090a0;
  border-color: #86b2c4;
  border-right: 18px solid #86b2c4;
  margin-left: -18px;
  z-index: 2;
  font-size: 21px;
}

@media (max-width: 991px) {
  .member-center .list-Group .list-group .list-group-item.active {
    max-width: 205px;
    width: 100%;
    height: 78px;
    border-right: none;
    border-bottom: 18px solid #86b2c4;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .member-center .list-Group .list-group .list-group-item.active {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .member-center .list-Group .list-group .list-group-item.active {
    font-size: 15px;
  }
}

.member-center .list-Group .list-group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.member-center .list-Group .list-group .list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.member-center .list-Group .tab-contents {
  max-width: 1140px;
  width: 100%;
  margin-left: -17px;
}

@media (max-width: 991px) {
  .member-center .list-Group .tab-contents {
    width: 100%;
    margin-left: 0;
    margin-top: -17px;
  }
}

.member-center .list-Group .tab-contents .member-data {
  height: 853px;
  background-color: #ffffff;
  border: 1px solid #f7a269;
  position: relative;
}

.member-center .list-Group .tab-contents .member-data .nowNews {
  font-size: 14px;
}

.member-center .list-Group .tab-contents .member-data .input-container {
  width: 90%;
  padding-bottom: 10vh;
  border-bottom: 1px solid #444444;
}

.member-center .list-Group .tab-contents .member-data .input-container textarea {
  width: 100%;
  height: 300px;
  font-size: 14px;
  outline: none;
  padding-left: 12px;
  resize: none;
}

.member-center .list-Group .tab-contents .member-data .input-container textarea::-webkit-input-placeholder {
  position: absolute;
  left: 12px;
}

.member-center .list-Group .tab-contents .member-data .input-container textarea:-ms-input-placeholder {
  position: absolute;
  left: 12px;
}

.member-center .list-Group .tab-contents .member-data .input-container textarea::-ms-input-placeholder {
  position: absolute;
  left: 12px;
}

.member-center .list-Group .tab-contents .member-data .input-container textarea::placeholder {
  position: absolute;
  left: 12px;
}

.member-center .list-Group .tab-contents .member-data .button-container {
  width: 90%;
  font-size: 14px;
}

.member-center .list-Group .tab-contents .member-data .button-container .btn-upload {
  font-size: 14px;
  border: 1px solid black;
}

.member-center .list-Group .tab-contents .member-data .button-container .transform-btn {
  width: 60px;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  letter-spacing: 1.6px;
}
/*# sourceMappingURL=passwordModify.css.map */