* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.member-center {
  width: 100%;
  height: 1011px;
  background-color: #ebeae5;
}

.member-center .m-center-index {
  font-size: 72px;
  position: relative;
  -webkit-transform: translateY(33px);
          transform: translateY(33px);
  margin-bottom: 10px;
  color: #ffffff;
}

@media (max-width: 520px) {
  .member-center .m-center-index {
    visibility: hidden;
  }
}

@media (max-width: 991px) {
  .member-center .list-Group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.member-center .list-Group .list-group {
  margin-bottom: -2px;
}

@media (max-width: 991px) {
  .member-center .list-Group .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.member-center .list-Group .list-group .list-group-item {
  width: 170px;
  height: 60px;
  background-color: #7a7573;
  font-size: 18px;
  color: #ebeae5;
  letter-spacing: 3.2px;
  border-bottom: 1px solid black;
  outline: none;
  z-index: 2;
}

@media (max-width: 991px) {
  .member-center .list-Group .list-group .list-group-item {
    max-width: 205px;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 16px;
    white-space: nowrap;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid black;
    border-bottom: none;
  }
}

@media (max-width: 768px) {
  .member-center .list-Group .list-group .list-group-item {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .member-center .list-Group .list-group .list-group-item {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .member-center .list-Group .list-group .list-group-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.member-center .list-Group .list-group .list-group-item.active {
  width: 205px;
  background-color: #ffffff;
  color: #8090a0;
  border-color: #86b2c4;
  border-right: 18px solid #86b2c4;
  margin-left: -18px;
  z-index: 2;
  font-size: 21px;
}

@media (max-width: 991px) {
  .member-center .list-Group .list-group .list-group-item.active {
    width: 100%;
    height: 78px;
    border-right: none;
    border-bottom: 18px solid #86b2c4;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .member-center .list-Group .list-group .list-group-item.active {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .member-center .list-Group .list-group .list-group-item.active {
    font-size: 15px;
  }
}

.member-center .list-Group .list-group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.member-center .list-Group .list-group .list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.member-center .list-Group .tab-contents {
  max-width: 1140px;
  width: 100%;
  margin-left: -17px;
}

@media (max-width: 991px) {
  .member-center .list-Group .tab-contents {
    width: 100%;
    margin-left: 0;
    margin-top: -17px;
  }
}

.member-center .list-Group .tab-contents .password-window {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  border: 1px solid #f7a269;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .member-center .list-Group .tab-contents .password-window {
    height: 800px;
  }
}

.member-center .list-Group .tab-contents .password-window .data-block2 {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .member-center .list-Group .tab-contents .password-window .data-block2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-left {
  width: 35%;
  height: 300px;
  border-right: 1px solid #65737f;
}

@media (max-width: 1024px) {
  .member-center .list-Group .tab-contents .password-window .data-block2 .block2-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-right: none;
    border-top: 1px solid #65737f;
    padding-top: 30px;
    max-width: 500px;
    width: 100%;
  }
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-left .modify-title {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 3.2px;
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-left .modify-content .input {
  max-width: 300px;
  width: 100%;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #65737f;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 450px) {
  .member-center .list-Group .tab-contents .password-window .data-block2 .block2-left .modify-content .input {
    max-width: 250px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .member-center .list-Group .tab-contents .password-window .data-block2 .block2-left .modify-content .input::-webkit-input-placeholder {
    text-align: center;
  }
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-left .modify-content .wrong-password {
  max-width: 300px;
  width: 100%;
  font-size: 15px;
  color: red;
  margin: auto;
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-left .sure-modify {
  margin-top: 48px;
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-left .sure-modify .modify-btn {
  max-width: 180px;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #65737f;
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.6px;
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-right {
  width: 35%;
  height: 300px;
}

@media (max-width: 1024px) {
  .member-center .list-Group .tab-contents .password-window .data-block2 .block2-right {
    position: relative;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
  }
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-right .safe-validate1 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 3.2px;
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-right .safe-validate2 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.2px;
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-right .safe-validate3 {
  font-size: 18px;
  color: #65737f;
  letter-spacing: 1.2px;
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-right .lock {
  position: absolute;
  right: -90px;
  bottom: -45px;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
  width: 380px;
  height: 420px;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .member-center .list-Group .tab-contents .password-window .data-block2 .block2-right .lock {
    right: -45px;
    bottom: -15px;
    width: 190px;
    height: 210px;
  }
}

.member-center .list-Group .tab-contents .password-window .data-block2 .block2-right .lock .lock-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=passwordModify.css.map */