* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

main .main-container {
  position: relative;
  min-height: 100vh;
}

main .main-container:before {
  background-color: #ededeb;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
  opacity: 0.7;
}

main .main-container .my-container {
  height: 100%;
  max-width: 1550px;
  padding: 0;
  padding-top: 15.7vh;
  padding-bottom: 50px;
}

@media (max-width: 1760px) {
  main .main-container .my-container {
    padding: 15.7vh 6.7vw 50px 6.7vw;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (max-width: 620px) {
  main .main-container .my-container {
    padding: 5.7vh 0px 50px 0px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  max-width: 1141px;
}

main .main-container .my-container .steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-container .my-container .steps .step:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .main-container .my-container .steps .step:nth-child(1) .step-content {
  background: #354b5e;
}

main .main-container .my-container .steps .step:nth-child(1) .step-right-line::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #354b5e;
}

main .main-container .my-container .steps .step:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-container .my-container .steps .step:nth-child(2) .step-content {
  background: #354b5e;
}

main .main-container .my-container .steps .step:nth-child(2) .step-left-line {
  background: #354b5e;
}

main .main-container .my-container .steps .step:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .main-container .my-container .steps .step:nth-child(3) .step-content {
  background: #70b9cf;
}

main .main-container .my-container .steps .step:nth-child(3) .step-left-line {
  background: #70b9cf;
}

main .main-container .my-container .steps .step .step-content {
  padding: 10px 0;
  border-radius: 5px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1350px) {
  main .main-container .my-container .steps .step .step-content {
    width: 120%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (max-width: 960px) {
  main .main-container .my-container .steps .step .step-content {
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .steps .step .step-content .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

main .main-container .my-container .steps .step .step-content .text p {
  margin: 0;
  font-size: 30px;
  letter-spacing: 3.2px;
}

main .main-container .my-container .steps .step .step-content .text .text-content {
  text-align: left;
}

@media (max-width: 960px) {
  main .main-container .my-container .steps .step .step-content .text .text-content {
    display: none;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .steps .step .step-content .text .text-content p:nth-child(1) {
  font-size: 14px;
  letter-spacing: 0.8px;
}

main .main-container .my-container .steps .step .step-content .text .text-content p:nth-child(2) {
  font-size: 12px;
  letter-spacing: 1.6px;
}

@media (max-width: 1350px) {
  main .main-container .my-container .steps .step .step-content .text .text-content p:nth-child(2) {
    letter-spacing: 0.8px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .steps .step .step-right-line {
  position: relative;
  width: 20%;
  height: 3px;
  background: #354b5e;
}

main .main-container .my-container .steps .step .step-left-line {
  width: 20%;
  height: 3px;
  background: #354b5e;
}

main .main-container .my-container .shopping-container {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1110px) {
  main .main-container .my-container .shopping-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .web-title {
  position: absolute;
  top: 0px;
  left: -130px;
  font-size: 98px;
}

@media (max-width: 1350px) {
  main .main-container .my-container .shopping-container .web-title {
    display: none;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .web-title p {
  margin: 0px;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  color: #ffffff;
}

main .main-container .my-container .shopping-container .shopping-order {
  max-width: 1141px;
  width: 100%;
  min-height: 452px;
  background: #ffffff;
  border: 1px solid #f7a269;
  -webkit-transition: 1s;
  transition: 1s;
}

main .main-container .my-container .shopping-container .shopping-order .order-container {
  max-width: 840px;
  width: 100%;
  padding: 32px 0;
  margin: auto;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container {
    padding: 3vh 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-total {
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  padding-bottom: 10px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-total::after {
  content: '\f077';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-total.active::after {
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-total p {
  margin: 0;
  letter-spacing: 3.2px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #abbac9;
  -webkit-transition: 1s;
  transition: 1s;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity {
  width: 100%;
  padding: 0 15px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content .photo img {
  max-width: 90px;
  max-height: 90px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content .commodity-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content .commodity-content .commodity-title {
  font-size: 14px;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content .commodity-content .commodity-title {
    width: 182px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content .commodity-content .commodity-title p {
  margin: 0;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content .commodity-content .commodity-size {
  color: #a3b6c1;
  font-size: 12px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .photo-content .commodity-content .commodity-size p {
  margin: 0;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .commodity-subtotal {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .commodity-subtotal {
    margin-left: unset;
    margin-top: 5px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .commodity-subtotal .quantity-subtotal {
  text-align: right;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .commodity-subtotal .quantity-subtotal {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .commodity .commodity-subtotal .quantity-subtotal p {
  margin: 0;
  font-size: 12px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .order-commodity-shipping {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 15px;
  padding-bottom: 10px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .order-commodity-shipping .order-commodity-shipping-price {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .order-commodity-shipping .order-commodity-shipping-price {
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .order-commodity-shipping .order-commodity-shipping-price p, main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .order-commodity-shipping .order-commodity-shipping-price h4 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .order-commodity-shipping .order-commodity-shipping-price p {
  font-size: 16px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-commodity .order-commodity-content .order-commodity-shipping .order-commodity-shipping-price h4 {
  font-size: 36px;
  line-height: 36px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #70b9cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .photo-svg {
  max-width: 158px;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .photo-svg {
    margin-bottom: 20px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .photo-svg svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .photo-svg svg .finish {
  fill: #70b9cf;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .complete-message h3 {
  font-size: 24px;
  letter-spacing: 3.2px;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .complete-message h3 {
    text-align: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .complete-message p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .complete-message p {
    text-align: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .order-complete .complete-message p:nth-child(2) {
  margin-bottom: 20px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information {
  width: 100%;
  padding: 20px 15px;
}

@media (max-width: 340px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 760px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both {
  position: relative;
  border: 1px solid #abbac9;
  padding: 25px 10px 5px 10px;
  width: 300px;
}

@media (max-width: 760px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both {
    -webkit-transition: 1s;
    transition: 1s;
  }
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both:nth-child(1) {
    margin-bottom: 20px;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both h4 {
  position: absolute;
  top: -14px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #354b5e;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both .information-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both .information-content p {
  color: #65737f;
  font-size: 16px;
  margin: 0;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both .information-content p:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .order-customer-information .information-both .information-content p:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  font-size: 14px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  border: 1px solid #abbac9;
  padding: 25px 10px 5px 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 340px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information {
    width: 300px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information h4 {
  position: absolute;
  top: -14px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #354b5e;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #65737f;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li h5 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  font-size: 16px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li h5 {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li p {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li:not(:last-child) {
  margin-bottom: 20px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li:nth-child(2) h5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li:nth-child(2) h5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li .order-track p:nth-child(2) {
  font-size: 12px;
  background-color: #a2b5c0;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  line-height: 20px;
  padding-left: 5px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul li .order-track p:nth-child(2):hover {
  background-color: #f7a269;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(1) li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(1) li .shipping-information-name {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(1) li .shipping-information-name {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(1) li .shipping-information-name h5 {
  font-size: 16px;
  margin: 0;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(1) li .shipping-information-name p {
  margin: 0;
  font-size: 12px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 21px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .store-information {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 82%;
          flex: 0 0 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 15px;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .store-information {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .store-information h5 {
  font-size: 16px;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .store-information p {
  margin: 0;
  font-size: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .code-address {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 82%;
          flex: 0 0 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .code-address:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .code-address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .code-address:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .code-address h5 {
  font-size: 16px;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .code-address p {
  margin: 0;
  font-size: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .shipping-information .shipping-information-content ul:nth-child(2) .store-code-address .code-address p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information {
  width: 100%;
  padding: 20px 0;
  position: relative;
  border: 1px solid #abbac9;
  padding: 25px 10px 5px 10px;
}

@media (max-width: 340px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information {
    width: 300px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information h4 {
  position: absolute;
  top: -14px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3.2px;
  color: #354b5e;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li {
    -webkit-transition: 1s;
    transition: 1s;
  }
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li:nth-child(1) {
    margin-bottom: 20px;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li .payment-invoice {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #65737f;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li .payment-invoice:not(:last-child) {
  margin-bottom: 15px;
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li .payment-invoice h5 {
  font-size: 16px;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li .payment-invoice h5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li .payment-invoice p {
  margin: 0;
  font-size: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .shopping-order .order-container .information .payment-information .payment-information-content li .payment-invoice p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .message-and-button {
  max-width: 371px;
  width: 100%;
  margin-left: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 960px) {
  main .main-container .my-container .shopping-container .message-and-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message {
  width: 100%;
  height: 550px;
  background: #ffffff;
  border: 1px solid #f7a269;
  padding: 40px 20px 20px 20px;
}

@media (max-width: 1110px) {
  main .main-container .my-container .shopping-container .message-and-button .customer-service-message {
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message h4 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 3.2px;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .message {
  width: 100%;
  max-height: 320px;
  height: 100%;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-text {
  width: 100%;
  min-height: 80px;
  padding: 5px;
  border: 1px solid #abbac9;
  outline: none;
  margin: 10px 0;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-text::-webkit-input-placeholder {
  color: #8090a0;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-text:-ms-input-placeholder {
  color: #8090a0;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-text::-ms-input-placeholder {
  color: #8090a0;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-text::placeholder {
  color: #8090a0;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-photo-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-photo-button input[type=button]:nth-child(1) {
  width: 85px;
  height: 35px;
  background-color: unset;
  border: 1px solid #65737f;
  border-radius: 5px;
}

main .main-container .my-container .shopping-container .message-and-button .customer-service-message .input-photo-button input[type=button]:nth-child(2) {
  width: 55px;
  height: 35px;
  background-color: unset;
  border: 1px solid #65737f;
  border-radius: 5px;
}

main .main-container .my-container .shopping-container .message-and-button .go-home-button {
  width: 100%;
}

@media (max-width: 620px) {
  main .main-container .my-container .shopping-container .message-and-button .go-home-button {
    padding: 0px 10px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

main .main-container .my-container .shopping-container .message-and-button .go-home-button .home-button {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f7a269;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 3.2px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-weight: lighter;
}

main .main-container .my-container .shopping-container .message-and-button .go-home-button .home-button .anim {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .main-container .my-container .shopping-container .message-and-button .go-home-button .home-button .anim:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}

main .main-container .my-container .shopping-container .message-and-button .go-home-button .home-button .anim:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.clickable:hover .anim {
  -webkit-animation: anim-out .75s;
          animation: anim-out .75s;
}

.clickable:hover .anim:after {
  -webkit-animation: anim-out-pseudo .75s;
          animation: anim-out-pseudo .75s;
}

@-webkit-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=shopping-step3.css.map */